---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Salud Mental | Red Ciudadana</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section   class="slider-element px-2">
			<div id="inicio" class="container" style="padding: 20px 0;height: 600px;">
				<div class="row py-6 justify-content-end">
                    <div class="col-lg-8">
                        <h1 class="text-titles2">¿Cómo está la salud mental en Guatemala?</h1>
                        <h1 class="text-titles">¿Qué dicen los datos?</h1>
                        <div class="d-flex w-100 py-4">
                            <div class="stats-left">
                                <h1>70%</h1>
                                <p>Lorem ipsum dolor sit amet, consectetuer</p>
                            </div>
                            <div class="stats-right">
                                <h1>45%</h1>
                                <p>Lorem ipsum dolor sit amet, consectetuer</p>
                            </div>
                        </div>
                    </div>

                </div>
			</div>
        </section>

        <!-- Introduccion
        ============================================= -->

        <section class="px-2">
            <div class="container clearfix ">
                <div class="row py-6">

                    <div class="col-lg-4 text-center">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/gU6sa65YEeM?si=9P67v0bxagpJQVaq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    <div class="col-lg-8">
                        <div class="px-6">
                            <h1 class="text-titles3 ">Lorem ipsum dolor sit amet consectetuer</h1>
                            <img width="250px" class="my-4" src="/assets/img/iconos/LINEA.png">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non.</p>
                    
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- Etapas
        ============================================= -->

        <section class="px-2" style="background-color: #f0f4fb;">
            <div id="etapas" class="container clearfix ">
                <div   class="row py-6">
                    <div class="col-lg-12">
                        <h2 class="text-titles3" style="text-align: center;">Etapas de la construcción de la ley</h2>
                        <img width="250px" class="my-4 mx-auto" src="/assets/img/iconos/LINEA.png">
                    </div>
                    <div class="col-lg-3 my-4 text-center">
                        <button onclick="openTab(event, '1')" id="defaultOpen">
                            <img style="margin: auto; padding-block: 10px; width: 150px;height: 150px;" src="/assets/img/iconos/icono.png">
                            <h3 class="text-titles4">Lorem Ipsum</h3>
                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            </p>
                        </button>
                    </div>
                    <div class="col-lg-3 my-4 text-center">
                        <button onclick="openTab(event, '2')">
                            <img style="margin: auto; padding-block: 10px; width: 150px;height: 150px;" src="/assets/img/iconos/icono.png">
                            <h3 class="text-titles4">Lorem Ipsum</h3>
                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            </p>
                        </button>
                    </div>
                    <div class="col-lg-3 my-4 text-center">
                        <button onclick="openTab(event, '3')">
                            <img style="margin: auto; padding-block: 10px; width: 150px;height: 150px;" src="/assets/img/iconos/icono.png">
                            <h3 class="text-titles4">Lorem Ipsum</h3>
                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            </p>
                        </button>
                    </div>
                    <div class="col-lg-3 my-4 text-center">
                        <button onclick="openTab(event, '4')">
                            <img style="margin: auto; padding-block: 10px; width: 150px;height: 150px;" src="/assets/img/iconos/icono.png">
                            <h3 class="text-titles4">Lorem Ipsum</h3>
                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            </p>
                        </button>
                    </div>


                    <div id="1" class="tabcontent" >
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center mb-4">
                                    <img style="width: 50px;height: 50px;margin-right: 15px;" src="/assets/img/iconos/icono.png">
                                    <h1 class="text-titles3">Lorem ipsum dolor sit amet</h1>
                                </div>
                                <p class="">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <div class="img-shader">
                                    <img src="/assets/img/home/grafica.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="2" class="tabcontent">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center mb-4">
                                    <img style="width: 50px;height: 50px;margin-right: 15px;" src="/assets/img/iconos/icono.png">
                                    <h1 class="text-titles3">Lorem ipsum dolor sit amet</h1>
                                </div>
                                <p class="">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <div class="img-shader">
                                    <img src="/assets/img/home/grafica.png">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="3" class="tabcontent">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center mb-4">
                                    <img style="width: 50px;height: 50px;margin-right: 15px;" src="/assets/img/iconos/icono.png">
                                    <h1 class="text-titles3">Lorem ipsum dolor sit amet</h1>
                                </div>
                                <p class="">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <div class="img-shader">
                                    <img src="/assets/img/home/grafica.png">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="4" class="tabcontent">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="d-flex align-items-center mb-4">
                                    <img style="width: 50px;height: 50px;margin-right: 15px;" src="/assets/img/iconos/icono.png">
                                    <h1 class="text-titles3">Lorem ipsum dolor sit amet</h1>
                                </div>
                                <p class="">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                                </p>
                            </div>
                            <div class="col-lg-6">
                                <div class="img-shader">
                                    <img src="/assets/img/home/grafica.png">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Lineas de Accion
        ============================================= -->

        <section class="px-2" style="background-color: #fefeff;">
            <div class="container clearfix ">
                <div class="row py-6">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-titles3" >¿Qué hay hasta ahora?</h2>
                        <img width="250px" class="my-4 mx-auto" src="/assets/img/iconos/LINEA.png">
                    </div>
                    <div class="col-lg-4 my-4 text-center">
                        <img style="margin: auto; padding-block: 10px; width: 150px;height: 160px;" src="/assets/img/iconos/ICONOS 01.png">
                        <h3 class="text-titles3">+100</h3>
                        <p >
                            Asistentes a las mesas
                        </p>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <img style="margin: auto; padding-block: 10px; width: 150px;height: 160px;" src="/assets/img/iconos/ICONOS 02.png">
                        <h3 class="text-titles3">80</h3>
                        <p >
                            Mesas de trabajo
                        </p>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <img style="margin: auto; padding-block: 10px; width: 150px;height: 160px;" src="/assets/img/iconos/ICONOS 03.png">
                        <h3 class="text-titles3">40</h3>
                        <p >
                            Reuniones Bilaterales
                        </p>
                    </div>

                </div>
            </div>
        </section>

        <!-- Como vamos
        ============================================= -->

        <section class="px-2" style="background-color: #f0f4fb;">
            <div id="comovamos" class="container clearfix ">
                <div class="row pt-6 pb-4 justify-content-center">
                    
                    <div class="col-lg-8 text-center">
                        <h2 class="text-titles3" style="text-align: center;">¿Cómo vamos?</h2>
                        <img width="250px" class="my-4 mx-auto" src="/assets/img/iconos/LINEA.png">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                        </p>
                    </div>

                </div>

                <div class="row pt-4 pb-6">
                    <div class="col-lg-3">
                        <div class="como-vamos-div active_box">
                            <div class="custom-tab">
                                01
                            </div>
                            <div class="custom-body">
                                <h3>Lorem ipsum</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="como-vamos-div ">
                            <div class="custom-tab">
                                02
                            </div>
                            <div class="custom-body">
                                <h3>Lorem ipsum</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="como-vamos-div ">
                            <div class="custom-tab">
                                03
                            </div>
                            <div class="custom-body">
                                <h3>Lorem ipsum</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="como-vamos-div ">
                            <div class="custom-tab">
                                04
                            </div>
                            <div class="custom-body">
                                <h3>Lorem ipsum</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing sed diam nonummy.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Imagenes del proceso
        ============================================= -->

        <section class="px-2" style="background-color: #fefeff;">
            <div class="container clearfix ">
                <div class="row py-6">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-titles3" >Imágenes del proceso</h2>
                        <img width="250px" class="my-4 mx-auto" src="/assets/img/iconos/LINEA.png">
                    </div>


                </div>

                <div class="row mx-auto mt-0 mb-6 justify-content-center">
                    <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/iconos/camara.png" class="img-fluid">
                                        </div>
                                        <div class="card-img-overlay">Slide 1</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/iconos/camara.png" class="img-fluid">
                                        </div>
                                        <div class="card-img-overlay">Slide 2</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/iconos/camara.png" class="img-fluid">
                                        </div>
                                        <div class="card-img-overlay">Slide 3</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/iconos/camara.png" class="img-fluid">
                                        </div>
                                        <div class="card-img-overlay">Slide 4</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/iconos/camara.png" class="img-fluid">
                                        </div>
                                        <div class="card-img-overlay">Slide 5</div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/iconos/camara.png" class="img-fluid">
                                        </div>
                                        <div class="card-img-overlay">Slide 6</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Interaccion ciudadana
        ============================================= -->

        <section class="px-2" style="background-color: #f0f4fb;">
            <div id="interaccion" class="container clearfix ">
                <div class="row pt-6 pb-4 justify-content-center">
                    
                    <div class="col-lg-8 text-center">
                        <h2 class="text-titles3" style="text-align: center;">Interacción Ciudadana</h2>
                        <img width="250px" class="my-4 mx-auto" src="/assets/img/iconos/LINEA.png">
                    </div>

                    <div class="col-lg-12 pb-6">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf3XlGREU6q3nOf5dEc5xY6mt7XGj0DnFuwbzzhKDq5exdTsA/viewform?embedded=true" width="100%" height="500px" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>
                    </div>

                </div>

            </div>
        </section>


        <!-- Que significa
        ============================================= -->

        <section class="px-2" style="background-color: #60298a;">
            <div class="container clearfix ">
                <div class="row py-6">
                    
                    <div class="col-lg-12 text-center">
                        <img class="m-auto p-4" src="/assets/img/iconos/ICONOS 05.png">
                        <h2 class="text-titles2">¿Qué significa para ti la salud mental?</h2>
                        <h6 class="text-titles4" style="color: #7f8b92!important;">¿Cuál es su importancia?</h6>
                        <form class="form" action="#">
                            <input type="text">
                        </form>
                    </div>

                </div>
            </div>
        </section>

        <!-- Informate
        ============================================= -->

        <section class="px-2" style="background-color: #f0f4fb;">
            <div id="informate" class="container clearfix ">
                <div class="row pt-6 pb-4 justify-content-center">
                    
                    <div class="col-lg-8 text-center">
                        <h2 class="text-titles3" style="text-align: center;">Informate</h2>
                        <img width="250px" class="my-4 mx-auto" src="/assets/img/iconos/LINEA.png">
                    </div>

                </div>

                <div class="row py-6">
                    {% for novedad in collections.novedades | limit(1) %}
                    <div class="col-lg-12 my-4">
                        <div class="box_novedad1">
                            <img class="res_50" src="{{novedad.data.image}}">
                            <div class="res_50 p-6">
                                <span>{{novedad.data.date | dateFormat('DD/MM/YYYY')}}</span>
                                <br>
                                <h1 class="text-titles3">{{novedad.data.title}}</h1>
                                <br>
                                <p>{{novedad.data.description}}</p>
                                <br>
                                <a href="{{novedad.url}}" class="btn">Ver más</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for novedad in collections.novedades | limitPart(1,3) %}
                    <div class="col-lg-6 my-4">
                        <div class="box_novedad2">
                            <img  src="{{novedad.data.image}}">
                            <div class=" p-6">
                                <span>{{novedad.data.date | dateFormat('DD/MM/YYYY')}}</span>
                                <br>
                                <h1 class="text-titles3">{{novedad.data.title}}</h1>
                                <br>
                                <p>{{novedad.data.description}}</p>
                                <br>
                                <a href="{{novedad.url}}" class="btn">Ver más</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section>


        <!-- Contacto
        ============================================= -->

        <section class="px-2" style="background-color: #fefeff;">
            <!-- contacto -->
            <div class="container pt-130 pb-130" id="contacto">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 mb-40">
                        <h1 style="font-size:30px;line-height: 25px;" class="mb-10">Contáctanos</h1>
                        <img width="250px" class="my-4" src="/assets/img/iconos/LINEA.png">
                        <br>
                        <p class="mb-20">Llena el siguiente formulario y nuestro equipo te estará contactando</p>
                        <h6 class="mb-20"><b>Síguenos a través de nuestras redes sociales</b></h6>
                        <div class="redes">
                            <a target="_blank" href="https://www.facebook.com/Redciudadanagt"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com/redxguate"><i class="fa-brands fa-x-twitter"></i></a>
                            <a target="_blank" href="https://www.instagram.com/redxguate/"><i class="fab fa-instagram "></i></a>
                            <a target="_blank" href="https://www.youtube.com/c/RedciudadanaOrgGt"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12">
                        <form class="contact_form" id="form" target="_self" onsubmit="return postToForm();" action="" autocomplete="off">
                            <input id="name" name="entry.1064235632" type="string" required placeholder="Nombre Completo"/>
                            <input id="email" name="entry.1330832081" type="email" required placeholder="Correo Electrónico"/>
                            <input id="affair" name="entry.1233483376" type="string" placeholder="Asunto / Motivo de Contacto"/>
                            <textarea id="message" name="entry.608682247" type="string" required placeholder="Mensaje"></textarea>
                            <button id="send" type="submit" class="btn">Envíanos un Mensaje</button>
                        </form>

                        <h3 id="success-msg" style="display:none;"> Su mensaje ha sido enviado</h3>
                    </div>
                </div>
            </div>
        </section>


{% endblock %}

{% block body_javascripts %}

<script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    document.getElementById("defaultOpen").click();
</script>

<script>
    let items = document.querySelectorAll('.carousel .carousel-item')

    items.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i=1; i<minPerSlide; i++) {
            if (!next) {
                // wrap carousel by using first child
                next = items[0]
            }
            let cloneChild = next.cloneNode(true)
            el.appendChild(cloneChild.children[0])
            next = next.nextElementSibling
        }
    })

</script>

<script>
    function postToForm() {
        var field1 = $("#name").val();
        var field2 = $("#email").val();
        var field3 = $("#affair").val();
        var field4 = $("#message").val();

        $.ajax({
            url: "https://docs.google.com/forms/d/e/1FAIpQLSe2DNIWZVQugZ_G-rQCzO9EKpWr66ZXe8rbBBHtKYduKIeXyQ/formResponse?",
            data: {"entry.1064235632": field1, "entry.1330832081": field2, "entry.1233483376": field3, "entry.608682247": field4},
            type: "POST",
            dataType: "xml",
            success: function(d)
            {
            },
            error: function(x, y, z)
                {

                    $('#success-msg').show();
                    $('#form').hide();
                    
                }
        });
        return false;
    }
</script>


{% endblock %}