---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Salud Mental</title>
{% endblock %}

{% block content %}

        <div class="popup2">
            <button id="close2">&times;</button>
            <a target="_blank" href="#">
                <div style="    height: 300px;
                overflow: auto;">
                    <iframe src="https://www.facebook.com/share/v/qxFm7dDZodJ7C2CU/?mibextid=w8EBqM" width="560" height="300px" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                </div> 
            </a>
        </div>
        <!-- Slider
		============================================= -->
		<section   class="slider-element px-2">
			<div id="inicio" class="container" style="padding: 20px 0;height: 600px;">
				<div class="row py-6 justify-content-end">
                    <div class="col-lg-8">
                        <h1 class="text-titles2">¿Cómo está la salud mental en Guatemala?</h1>
                        <h1 class="text-titles">¿Qué dicen los datos?</h1>
                        <div class="d-flex w-100 py-4">
                            <div class="stats-left">
                                <h1>2%</h1>
                                <p>del presupuesto nacional de salud pública se dedicaba a la
                                    atención de salud mental (OMS, 2020).</p>
                            </div>
                            <div class="stats-right">
                                <h1>27.8%</h1>
                                <p>de la población había
                                    experimentado al menos una condición de salud mental o por el
                                    uso de sustancias a lo largo de su vida (Encuesta Nacional de Salud Mental, 2019). </p>
                            </div>
                        </div>
                        <div class="text-center">
                            <a href="/propuesta/index.html" class="btn">Participa</a>
                        </div>
                    </div>

                </div>
			</div>
        </section>

        <!-- Introduccion
        ============================================= -->

        <section class="px-2">
            <div class="container clearfix ">
                <div class="row py-6">

                    <div class="col-lg-4 my-4 text-center">
                        <iframe width="560" height="315" src="/assets/img/video_inicio.mp4" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    <div class="col-lg-8 my-4">
                        <div class="px-2">
                            <h1 class="text-titles3 ">¡No hay salud, sin salud mental!</h1>
                            <img width="250px" class="my-4" src="/assets/img/iconos/LINEA.png">
                            <p> 
                                La salud mental es un derecho del que todas las personas deberían gozar y es
                                responsabilidad del Estado garantizar su acceso sin discriminación alguna. En
                                consecuencia, este proceso de construcción colectiva de la Iniciativa de Ley para la
                                Atención Integral a la Salud Mental tiene como propósito responder y enmendar una
                                deuda histórica del sistema de salud pública.
                                
                            </p>
                            <br>
                            <p>
                                Si quieres sumarte a este diálogo ciudadano, participativo y multidisciplinario,  puedes dirigirte a la sección <span style="font-size: 15px!important;"><a href="/propuesta/index.html">Aportes</a></span> del menú principal. 
                                Ahí podrás leer y analizar el primer borrador de la iniciativa para posteriormente brindar tus comentarios y sugerencias.
                            </p>
                    
                        </div>
                    </div>

                </div>
            </div>
        </section>


        <!-- Etapas
        ============================================= -->

        <section class="px-2" style="background-color: #f0f4fb;">
            <div id="etapas" class="container clearfix ">
                <div   class="row py-6">
                    <div class="col-lg-12">
                        <h2 class="text-titles3" style="text-align: center;">Etapas de la construcción de la ley</h2>
                        <img width="250px" class="my-4 mx-auto" src="/assets/img/iconos/LINEA.png">
                    </div>
                    <div class="col-lg-3 my-4 text-center">
                        <button onclick="openTab(event, '1')" id="defaultOpen">
                            <img id="img_etp_1" style="margin: auto; padding-block: 10px; width: 150px;height: 150px;" src="/assets/img/iconos/etapas1.png">
                            <h3 class="text-titles4">Escucha ciudadana</h3>
                            <!-- <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.
                            </p> -->
                        </button>
                    </div>
                    <div class="col-lg-3 my-4 text-center">
                        <button onclick="openTab(event, '2')">
                            <img id="img_etp_2" style="margin: auto; padding-block: 10px; width: 150px;height: 150px;" src="/assets/img/iconos/etapas2.png">
                            <h3 class="text-titles4">Investigación</h3>
                        </button>
                    </div>
                    <div class="col-lg-3 my-4 text-center">
                        <button onclick="openTab(event, '3')">
                            <img id="img_etp_3" style="margin: auto; padding-block: 10px; width: 150px;height: 150px;" src="/assets/img/iconos/etapas3.png">
                            <h3 class="text-titles4">Definición del marco de acción</h3>
                        </button>
                    </div>
                    <div class="col-lg-3 my-4 text-center">
                        <button onclick="openTab(event, '4')">
                            <img id="img_etp_4" style="margin: auto; padding-block: 10px; width: 150px;height: 150px;" src="/assets/img/iconos/etapas4.png">
                            <h3 class="text-titles4">Mesas de diálogo</h3>
                        </button>
                    </div>


                    <div id="1" class="tabcontent" >
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-center mb-4">
                                    <img style="width: 50px;height: 50px;margin-right: 15px;" src="/assets/img/iconos/etapas1hov.png">
                                    <h1 class="text-titles3">Escucha ciudadana</h1>
                                </div>
                                <p class="">
                                    Muchas personas, especialmente jóvenes y personal de salud, han alertado sobre la necesidad de garantizar 
                                    un acceso oportuno a padecimientos como la depresión y la ansiedad. Así como otros que surgen por el consumo problemático de sustancias. 
                                    La alta carga de enfermedad debido a las condiciones de salud mental y de uso de sustancias se debe, 
                                    en parte, a la brecha de atención a la salud mental, es decir, el porcentaje de personas que requieren servicios de salud mental 
                                    pero no los reciben (Kohn, 2004; Wang, 2023). Un estudio estimó esta brecha en Latinoamérica e identificó que la región 
                                    centroamericana y México presentaron una brecha de 78.7 %, la más alta del continente (Kohn, 2018).
                                </p>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="img-shader">
                                    <img src="/assets/img/home/grafica.png">
                                </div>
                            </div> -->
                        </div>
                    </div>
                    
                    <div id="2" class="tabcontent">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-center mb-4">
                                    <img style="width: 50px;height: 50px;margin-right: 15px;" src="/assets/img/iconos/etapas2hov.png">
                                    <h1 class="text-titles3">Investigación</h1>
                                </div>
                                <p class="">
                                    Durante los primeros meses de 2024 se recabó información sobre el contexto
                                    del acceso a la salud mental a nivel nacional, regional y mundial, enfatizando
                                    principalmente en los mecanismos institucionales y las experiencias
                                    legislativas. Con base en ello, se realizó un análisis comparativo de la
                                    legislación sobre salud mental vigente en otros países, para identificar
                                    tendencias, marcos normativos y contenidos mínimos.
                                    Además, durante esta fase se tuvieron intercambios bilaterales con diferentes
                                    profesionales de la salud y organismos internacionales, como UNICEF, OPS
                                    y OIM, para conocer recomendaciones y parámetros para la promoción y la
                                    atención de la salud mental.
                                </p>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="img-shader">
                                    <img src="/assets/img/home/grafica.png">
                                </div>
                            </div> -->
                        </div>
                    </div>
                    
                    <div id="3" class="tabcontent">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-center mb-4">
                                    <img style="width: 50px;height: 50px;margin-right: 15px;" src="/assets/img/iconos/etapas3hov.png">
                                    <h1 class="text-titles3">Definición del marco de acción</h1>
                                </div>
                                <p class="">
                                    Tomando como punto de partida la exploración teórica y situacional de
                                    referentes nacionales y regionales, se desarrolló un documento con una
                                    primera propuesta de estructura mínima para la ley. Su objetivo es delimitar
                                    el marco de acción de la nueva iniciativa para que sea analizado, discutido y
                                    alimentado por los participantes de las mesas de diálogo, garantizando una
                                    construcción participativa e integral.
                                </p>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="img-shader">
                                    <img src="/assets/img/home/grafica.png">
                                </div>
                            </div> -->
                        </div>
                    </div>

                    <div id="4" class="tabcontent">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="d-flex align-items-center mb-4">
                                    <img style="width: 50px;height: 50px;margin-right: 15px;" src="/assets/img/iconos/etapas4hov.png">
                                    <h1 class="text-titles3">Mesas de diálogo</h1>
                                </div>
                                <p class="">
                                    La revisión literaria demostró que una de las principales falencias de las
                                    leyes de otros países fue no haber considerado procesos participativos para
                                    su construcción; lo que dejó fuera la opinión de diferentes actores clave,
                                    como personas con padecimientos de salud mental y sus familiares.
                                    Procurando un abordaje amplio y pertinente, en esta fase se instalarán 5
                                    mesas de consulta y diálogo con representantes de instituciones
                                    gubernamentales; sector académico y profesional de la salud; organizaciones
                                    internacionales y organizaciones no gubernamentales; personas con
                                    condiciones de salud mental, cuidadores y familiares y población en general.
                                    Esta última mesa, a diferencia de las demás, será en formato virtual y todas
                                    las personas están convocadas a participar a través del formulario que se
                                    encuentra en las próximas secciones de esta página.
                                </p>
                            </div>
                            <!-- <div class="col-lg-6">
                                <div class="img-shader">
                                    <img src="/assets/img/home/grafica.png">
                                </div>
                            </div> -->
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Lineas de Accion
        ============================================= -->

        <section class="px-2" style="background-color: #fefeff;">
            <div class="container clearfix ">
                <div class="row py-6">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-titles3" >¿Qué hay hasta ahora?</h2>
                        <img width="250px" class="my-4 mx-auto" src="/assets/img/iconos/LINEA.png">
                    </div>
                    

                    <div class="col-lg-4 my-4 text-center">
                        <img style="margin: auto; padding-block: 10px; width: 150px;height: 160px;" src="/assets/img/iconos/ICONOS 02.png">
                        <h3 class="text-titles3">5</h3>
                        <p >
                            4 mesas de diálogo instaladas y
                            1 mesa virtual
                        </p>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <img style="margin: auto; padding-block: 10px; width: 150px;height: 160px;" src="/assets/img/iconos/ICONOS 01.png">
                        <h3 class="text-titles3">+60</h3>
                        <p >
                            Invitados de instituciones estatales, Cooperación internacional, personal de salud, expertos y sector académico.
                        </p>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <img style="margin: auto; padding-block: 10px; width: 150px;height: 160px;" src="/assets/img/iconos/ICONOS 03.png">
                        <h3 class="text-titles3">14</h3>
                        <p >
                            Encuentros bilaterales con expertos
                        </p>
                    </div>

                </div>
            </div>
        </section>

        <!-- Como vamos
        ============================================= -->

        <section class="px-2" style="background-color: #f0f4fb;">
            <div id="comovamos" class="container clearfix ">
                <div class="row pt-6 pb-2 justify-content-center">
                    
                    <div class="col-lg-8 text-center">
                        <h2 class="text-titles3" style="text-align: center;">¿Cómo vamos?</h2>
                        <img width="250px" class="my-4 mx-auto" src="/assets/img/iconos/LINEA.png">
                        <!-- <p>Actualmente están en curso las mesas de diálogo instaladas para las dos primeras
                            semanas de abril. De este diálogo ciudadano, participativo y multidisciplinario, se
                            recabarán los aportes para garantizar la pertinencia de la nueva Ley para el Acceso
                            Integral de la Salud Mental.
                        </p> -->
                    </div>

                </div>

                <div class="row pt-2 pb-6">
                    <div class="col-lg-3">
                        <div class="como-vamos-div ">
                            <div class="custom-tab">
                                01
                            </div>
                            <div class="custom-body">
                                <h3>Investigación</h3>
                                <p>Contextualización de la situación de la salud mental en Guatemala y tendencias en la 
                                    legislación de otros países. La evidencia demostró que estos 
                                    procesos carecían de la participación ciudadana.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="como-vamos-div active_box">
                            <div class="custom-tab">
                                02
                            </div>
                            <div class="custom-body">
                                <h3>Co-creación</h3>
                                <p>Instalación de 5 mesas de diálogo ciudadano, participativo y multidisciplinario para 
                                    recabar aportes de experiencia personal con padecimientos de la salud mental y su abordaje técnico. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="como-vamos-div ">
                            <div class="custom-tab">
                                03
                            </div>
                            <div class="custom-body">
                                <h3>Mesa virtual</h3>
                                <p>Este sitio web está disponible para acceder al borrador de la iniciativa de ley, para que 
                                    las personas interesadas puedan revisarlo y brindar sus aportes para fortalecer su estructura y contenido.</p>
                            </div>
                        </div>
                    </div>
                        <div class="col-lg-3">
                            <div class="como-vamos-div ">
                                <div class="custom-tab">
                                    04
                                </div>
                                <div class="custom-body">
                                    <h3>A futuro</h3>
                                    <p>Una vez se armonicen los aportes, se construirá el documento oficial de la iniciativa para presentarlo 
                                        oficialmente en el Congreso para que siga su curso legislativo pertinente. Con voluntad y compromiso, ¡hagamos que sea ley!</p>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </section>

        <!-- Participa
        ============================================= -->

        <section class="px-2" style="background-color: #3a428f;">
            <div id="interaccion" class="container clearfix ">
                <div class="row py-6">
                    
                    <div class="col-lg-12 text-center">
                        <img class="m-auto" style="width: 150px;margin-bottom: 20px;" src="/assets/img/iconos/cabezanaranja.png">
                        <h2 class="text-titles2 pb-4">¡Participa en la propuesta!</h2>
                        <a href="/propuesta/index.html" class="btn">Participa</a>
                </div>
            </div>
        </section>

        <!-- Imagenes del proceso
        ============================================= -->

        <section class="px-2" style="background-color: #fefeff;">
            <div class="container clearfix ">
                <div class="row py-6">
                    <div class="col-lg-12 text-center">
                        <h2 class="text-titles3" >Imágenes del proceso</h2>
                        <img width="250px" class="my-4 mx-auto" src="/assets/img/iconos/LINEA.png">
                    </div>


                </div>

                <div class="row mx-auto mt-0 mb-6 justify-content-center">
                    <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item active">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/home/SMLFMC-2.jpg" class="img-fluid">
                                        </div>
                                        <!-- <div class="card-img-overlay">Slide 1</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/home/SMLFMC-3.jpg" class="img-fluid">
                                        </div>
                                        <!-- <div class="card-img-overlay">Slide 2</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/home/SMLFMC-4.jpg" class="img-fluid">
                                        </div>
                                        <!-- <div class="card-img-overlay">Slide 3</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/home/SMLFMC-5.jpg" class="img-fluid">
                                        </div>
                                        <!-- <div class="card-img-overlay">Slide 4</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/home/SMLFMC-6.jpg" class="img-fluid">
                                        </div>
                                        <!-- <div class="card-img-overlay">Slide 5</div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-img">
                                            <img src="/assets/img/home/SMLFMC-7.jpg" class="img-fluid">
                                        </div>
                                        <!-- <div class="card-img-overlay">Slide 6</div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        </a>
                        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </section>


        

        <!-- Informate
        ============================================= -->
        <!-- 
        <section class="px-2" style="background-color: #f0f4fb;">
            <div id="informate" class="container clearfix ">
                <div class="row pt-6 pb-0 justify-content-center">
                    
                    <div class="col-lg-8 text-center">
                        <h2 class="text-titles3" style="text-align: center;">Informate</h2>
                        <img width="250px" class="my-4 mx-auto" src="/assets/img/iconos/LINEA.png">
                    </div>

                </div>

                <div class="row pt-4 pb-6">
 

                    {% for novedad in collections.novedades | limit(3) %}
                    <div class="col-lg-4 my-4">
                        <div class="box_novedad2">
                            <img  src="{{novedad.data.image}}">
                            <div class=" p-6">
                                <span>{{novedad.data.date | dateFormat('DD/MM/YYYY')}}</span>
                                <br>
                                <h1 class="text-titles3">{{novedad.data.title}}</h1>
                                <br>
                                <p>{{novedad.data.description}}</p>
                                <br>
                                <a href="{{novedad.url}}" class="btn">Ver más <i class="fa-solid fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </section> -->


        <!-- Contacto
        ============================================= -->

        <!-- <section class="px-2" style="background-color: #fefeff;">
            <div class="container pt-130 pb-130" id="contacto">
                <div class="row">
                    <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12 mb-40">
                        <h1 style="font-size:30px;line-height: 25px;" class="mb-10">Contáctanos</h1>
                        <img width="250px" class="my-4" src="/assets/img/iconos/LINEA.png">
                        <br>
                        <p class="mb-20">Llena el siguiente formulario y nuestro equipo te estará contactando</p>
                        <h6 class="mb-20"><b>Síguenos a través de nuestras redes sociales</b></h6>
                        <div class="redes">
							<a target="_blank" href="https://www.facebook.com/profile.php?id=61555874333681&mibextid=LQQJ4d"><i class="fab fa-facebook-f"></i></a>
							<a target="_blank" href="https://twitter.com/laurafmarroquin"><i class="fa-brands fa-x-twitter"></i></a>
							<a target="_blank" href="https://www.instagram.com/laurafmarroquin/"><i class="fab fa-instagram "></i></a>
							<a target="_blank" href="https://www.tiktok.com/@laurafmarroquin"><i class="fab fa-tiktok"></i></a>
						</div>
                    </div>
                    <div class="col-lg-6 col-xl-6 col-sm-12 col-md-12">
                        <form class="contact_form" id="form" target="_self" onsubmit="return postToForm();" action="" autocomplete="off">
                            <input id="name" name="entry.1064235632" type="string" required placeholder="Nombre Completo"/>
                            <input id="email" name="entry.1330832081" type="email" required placeholder="Correo Electrónico"/>
                            <input id="affair" name="entry.1233483376" type="string" placeholder="Asunto / Motivo de Contacto"/>
                            <textarea id="message" name="entry.608682247" type="string" required placeholder="Mensaje"></textarea>
                            <button id="send" type="submit" class="btn">Envíanos un Mensaje <i class="fa-solid fa-arrow-right"></i></button>
                        </form>

                        <h3 id="success-msg" style="display:none;"> Su mensaje ha sido enviado</h3>
                    </div>
                </div>
            </div>
        </section> -->


{% endblock %}

{% block body_javascripts %}

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        // Añade listeners para el hover de cada imagen
        const imgBasePath = "/assets/img/iconos/";
        const imagesHover = {
            "img_etp_1": "etapas1hov.png",
            "img_etp_2": "etapas2hov.png",
            "img_etp_3": "etapas3hov.png",
            "img_etp_4": "etapas4hov.png"
        };

        Object.keys(imagesHover).forEach((id) => {
            const imgElement = document.getElementById(id);
            const originalSrc = imgElement.src; // Almacena la ruta original
            const hoverSrc = imgBasePath + imagesHover[id];

            imgElement.addEventListener('mouseover', () => {
                imgElement.src = hoverSrc;
            });

            imgElement.addEventListener('mouseout', () => {
                // Restablece a la imagen original si el tab correspondiente no está activo.
                if (!imgElement.closest('button').classList.contains('active')) {
                    imgElement.src = originalSrc;
                }
            });
        });

        // Inicializa el tab por defecto
        document.getElementById("defaultOpen").click();
    });

    function openTab(evt, tabName) {
        var i, tabcontent, tablinks, imgElements;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        tablinks = document.getElementsByTagName("button");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }

        // Restablece todas las imágenes a su estado original
        imgElements = document.querySelectorAll("[id^='img_etp_']");
        imgElements.forEach((img) => {
            const baseName = img.id.replace('img_etp_', 'etapas');
            img.src = `/assets/img/iconos/${baseName}.png`;
        });

        document.getElementById(tabName).style.display = "block";
        evt.currentTarget.classList.add("active");

        // Actualiza la imagen de la pestaña activa a su versión de hover
        const activeImgElement = evt.currentTarget.querySelector("img");
        if (activeImgElement) {
            const hoverImgName = activeImgElement.id.replace('img_etp_', 'etapas') + "hov.png";
            activeImgElement.src = `/assets/img/iconos/${hoverImgName}`;
        }
    }

</script>

<script>
    let items = document.querySelectorAll('.carousel .carousel-item')

    items.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i=1; i<minPerSlide; i++) {
            if (!next) {
                // wrap carousel by using first child
                next = items[0]
            }
            let cloneChild = next.cloneNode(true)
            el.appendChild(cloneChild.children[0])
            next = next.nextElementSibling
        }
    })

</script>

<script src="/assets/js/popup.js"></script>

{% endblock %}
