---
permalink: "/propuesta/index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Salud Mental | Propuesta</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section   class="slider-element px-2">
			<div id="inicio" class="container" style="padding: 20px 0;height: 600px;">
				<div class="row py-6 justify-content-end">
                    <div class="col-lg-8">
                        <h1 class="text-titles2">Participa</h1>
                        <br><br>
                        <div style="color: #f6954b;">
                            <p style="font-size: 20px!important;line-height: 25px;">Queremos que conozcas el borrador de la propuesta de Ley para la atención integral en salud mental y que nos dejes tus comentarios. A continuación, encontrarás el borrador y, posteriormente, un formulario para que puedas compartirnos tus impresiones. Gracias por tu apoyo para la construcción colaborativa de esta ley que es para todos.
                            </p>
                        </div>
                    </div>

                </div>
			</div>
        </section>

        <!-- propuesta
        ============================================= -->

        <section class="px-2">
            <div class="container clearfix ">
                <div class="row py-6 justify-content-center">

                    <div class="col-lg-8 my-6">
                        <!-- <img src="/assets/img/participa.png"> -->
                        <iframe height="700px" src="/assets/Propuesta de estructura de la Ley para la Atención Integral de la Salud Mental.pdf"></iframe>
                    </div>

                    <!-- <div class="col-lg-8 my-6">
                        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf3XlGREU6q3nOf5dEc5xY6mt7XGj0DnFuwbzzhKDq5exdTsA/viewform?embedded=true" width="640" height="1500px" frameborder="0" marginheight="0" marginwidth="0">Cargando…</iframe>

                    </div> -->

                </div>
            </div>
        </section>

{% endblock %}