{% extends "src/base2.njk" %}

{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" href="/css/maingrid.css" type="text/css" />
{% endblock %}

{% block content %}
<!--POST-->
<div class="max-w-screen-lg mx-auto " style="margin:3rem auto; padding:0 2rem">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <article>
        <header>
          <h1 class=" font-bold text-4xl text-gray-800">
            {{ title }}
          </h1>
          <br>
          <h6 class=" font-bold text-1xl text-gray-800">
            {{ description }}
          </h6>
          <br>
          <div class=" text-sm text-gray-600 ">
            Autor:
              <span class="text-sm font-semibold text-gray-900 ml-2">
                <!--autor correo fecha-->
                    {{ autor }} | {{ correo }} | {{ date|dateFormat('DD/MM/YYYY')}}
              </span>
          </div>
          <br>
        </header>

        <style>
  
          @media (max-width: 760px){
              .presponsive{
                  padding-left: 0!important;
              }
          }
  
        </style>
        

          {{ content | safe}}
 

        
      </article>
    </div>

  </div>
</div>

{% endblock %}